$col1:white;
h1{
color:$col1;
}
h4{
color:$col1;
}
h3{
color:$col1;
}
.body{
height:50px;
width:50px;
}
.col{
background-color:#282828;
margin-top:50px;
border-radius:10px;
}
.btn{
margin-bottom:50px;
margin-top:20px;
}
.invalid{
color:white;
}