	<nav class="navbar navbar-inverse">
	 <div class="container-fluid">

		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Meet Me</a>
		</div>
		
		<ul class="nav navbar-nav left">
			<li class="navb"><a routerLink ='/AddCustomer'>REGISTER</a></li>
			<li class="navb"><a routerLink ='EditCustomer'>UPDATE</a></li>
			<li class="navb"><a routerLink ='Customer'>ABOUT</a></li>

</ul>
		 
</div>
</nav>
<div class="image">
	<router-outlet></router-outlet>
<div class="web">
	<a href="#" class="nav-link fab fa-facebook-f text" style="background-color:#0066ff"></a>
	<a href="#" class="nav-link fab fa-twitter text" style="background-color:#1dcaff"></a>
	<a href="#" class="nav-link fab fa-google-plus-g text" style="background-color:#fa3c4c"></a>
	<a href="#" class="nav-link fas fa-rss text" style="background-color:#f69537"></a>
	<a href="#" class="nav-link fas fa-location-arrow text" style="background-color:#b3d9ff"></a>


</div>
</div>
<div class="foot">
	<h3>Services Offerings</h3>
		<h4>A sneak peek in our ever expanding services offerings.</h4>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 ftr">
					<i class="fas fa-laptop fa-3x"></i>
					<h4>Web Applications</h4>
					<h5>Responsive and scalable web application development cutting across the domains and technologies that are hosted on various cloud infrastructure.</h5>
				</div>
				<div class="col-sm-4 ftr">
					<i class="fas fa-mobile-alt fa-3x"></i>
						<h4>Mobile Applications</h4>
						<h5>Native and Hybrid mobile application development in Java, Swift, ObjectiveC,ReactNative, ReactJS, PhoneGap and Xamarin.</h5>
				</div>
				<div class="col-sm-4 ftr">
					<i class="fas fa-gift fa-3x"></i>
						<h4>Dev Ops</h4>
						<h5>24/7 Dev Ops services that we have been sending.providing to Google and Palo Alto Networks to name just a few.</h5>
				</div>
			</div>
		</div>
		<div class="container-fluid">
<div class="last">
	<div class="row">
		<div class="col-sm-4 ftr">
			<i class="fas fa-cloud fa-3x"></i>
				<h4>Cloud</h4>
				<h5>End to end cloud infrastructure management, across the public and private clouds.</h5>
		</div>
	<div class="col-sm-4 ftr">
		<i class="fas fa-bug fa-3x"></i>
			<h4>Testing Automation</h4>
			<h5>Manual (TestRails, Zephyr, Jira, Redmine, TestLodge), Automation (Selenium, Sahi, Appium) and performance (Tsung, JMeter) testing across web/mobile platforms and enabling end to end Continuous Integration using Jenkins and Pipeline.</h5>
	</div>
		<div class="col-sm-4 ftr">
			<i class="fas fa-exchange-alt fa-3x"></i>
				<h4>Translation Services</h4>
				<h5>2We provide the complete high-quality translation services using Native professional translators, Quick turnaround with exceptional service.</h5>
		</div>
	</div>
</div>
</div>
<footer class="down">
<p>@copyright 2008-09<br>
All rights reserved by Tom platform.</p>
</footer>
</div>
