
h1{
color:white;
text-align:center;
padding-top:70px;
}
table,th,td{
 color:white;
 padding:25px;
margin-top:50px;
border:1px solid white;
margin-right:70px;
text-align:center;

 }
 .cust{
	margin-left:400px;
 }